@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #18181b;
  --foreground: #f4f4f5;
  --font-inter: 'Inter', sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
