@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #09090b;
  /* Deeper black for high contrast */
  --foreground: #fafafa;
  --accent: #3b82f6;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}